*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    width: 720px;
    border: 1px solid rgb(30, 30, 30);
    display: flex;
    flex-direction: row;
}

.card_right img {
    width: 250px;
    }